@charset "UTF-8";


header{
    background-color: black;
    text-align: center;
}
h1{
    color: white;
    font-size: 100px;
    margin-bottom: 1px;
}
header > p{
    margin-top: 1px;
    text-decoration: none;
    color: white;
}
aside {

text-align: left;
margin: 200px 200px 200px 0px;
}

#flor{
    background-image: url(imagens/background001.jpg);
}
